@import "compass";

$font-color:  #2a2a2a;
$font-family: sans-serif;
$base-font-size:   12px;
$base-line-height: 18px;

body {
  font-family: $font-family;
  color: $font-color; 
}

p {
  margin: 0;
}

#container {
  width:1100px; max-width:100%; margin:0 auto;
}

.box {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}

#parent {
  @extend .box;
  height: 1000px;
  @include pie-clearfix;
  position: relative;
}

.some-element {
  @extend .box;
  height: 100px;
}

#element {
  @extend .box;
  float: right;
  height: 200px;
  width: 50%;
}

footer {
  height: 1000px;
}