
#parent
  %p parent with border, padding and margin
  %p I designate the area in which the element can move

  .some-element
    %p some other element with border, padding and margin
    %p I am only here to bother

  #element
    %p element with border, padding and margin
    %p I am positioned
