
#parent
  %p I designate the area in which the element can move (parent with border, padding and margin)

  .some-element
    %p I am only here to bother (some other element with border, padding and margin)

  #element
    %p I am positioned (element with border, padding and margin)
