
#parent
  %p I designate the area in which the element can move (parent with border, padding and margin)

  .some-element
    %p I am only here to bother (some other element with border, padding and margin)

  #element
    %p I am positioned (element with border, padding and margin)
    %ul
      %li
        Start Point:
        %span#start-point X
      %li
        End Point:
        %span#end-point X
      %li
        Position Left:
        %span#position-left X
      %li
        Position Top:
        %span#position-top X
      %li
        Offset Left:
        %span#offset-left X
      %li
        Offset Top:
        %span#offset-top X
